{% extends 'base.html' %}
{% load static %}
{% block crearfacturas %}
<!-- inicia  -->
<script src="{% static 'js/jsfacturacion.js' %}"></script>
<form method="POST">
        {% csrf_token %}
    
        <div class="card card-primary">
            <div class="card-header">

            </div>
            <div class="card-body" >
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-secondary">
                            <div class="card-header" style="background-image:url({% static 'img/f6.png'%}); color:#ffffff;">
                                <h3 class="card-title" ><i class="fas fa-boxes"></i> Detalle Factura</h3>
                            </div>
                            <div class="card-body"style="background-image:url({% static 'img/f5.jpg'%});">
                                <div class="form-group">
                                    <label><b>Buscar Productos</b></label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="search"  
                                                   placeholder="Buscar un producto..." autocomplete="off">
    

                                        </div>
                                        <span class="input-group-append">

                                      </span>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="tblProducts"style="background-image:url({% static 'img/f1.jpg'%});">
                                    <thead>
                                    <tr>
                                        <th>Borra linea</th>
                                        <th>Existencia</th>
                                        <th>Cantidad</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Descuento</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" >
                        <div class="card card-secondary " style="width: 25rem;" >
                            <div class="card-header" style="background-image:url({% static 'img/f6.png'%}); color:#ffffff;" >
                                <h3 class="card-title"><i class="fas fa-shopping-cart" > </i>Encabezado Factura</h3>
                            </div>
                            <div class="card-body"style="background-image:url({% static 'img/f5.jpg'%});" >
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label><b>Fecha de venta</b></label>
                                    {{ form.fecha_venta }}
                                </div>
                             
                                <div class =" form-group"  >  
                                      <div class="input-group">
                                        <input type="text" class="form-control" name="search2"  
                                        placeholder="Buscar cliente..." autocomplete="off" >
                                    </div>
                                                  
                                    <table class="table table-bordered" id="tblpersons">
                                        <thead>
   
                                    
                                        </thead>
                                    </table>
                               
                               
                               
                               <div class="form-group">
                                    <label><b>Colaborador</b></label>
                                    {{ form.colaborador }}
                                </div>

                                <div class="form-group">
                                    <label><b>Sucursal</b></label>
                                    {{ form.sucursal }}
                                </div>

                                <div class="form-group">
                                    <label><b>Tipo Pago</b></label>
                                    {{ form.tipo_pago }}
                                </div>


                                <div class="form-group">
                                    <label><b>Descuento (-)</b></label>
                                    {{ form.descuento_total }}
                                </div>


                                <div class="form-group" >
                                    <label><b>Total a Pagar</b></label>
                                    {{ form.total }}
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Guardar Factura</button>
               <a href="{{ list_url }}" class="btn btn-warning btn-flat">
                   <i class="fas fa-times"></i> Cancelar
               </a>
            </div>
            <div class="card-footer">

            </div>
        </div>
</form>
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>

{% endblock %}
