{%extends 'base.html' %}
{% block borrarsucursal %}
{% load static %}

<form method="POST">
{% csrf_token %}

<h5>¿Desea realmente borrar la sucursal?: {{sucursales.id}} {{sucursales.nombre_sucursal}}</h5>

<div class="row fila13 justify-content-center mb-1 mt-5" > 
    <div class =" col-2  columna1   rounded ">    
      <button type="submit" class="btn btn-danger"href="{% url 'borrar_sucursales' sucursales.id %}">Borrar Sucursal</button>
    </div>
<div class =" col-3  columna2 block-content-end   rounded ">
    <a class= "btn btn-warning" href="{% url 'buscar_sucursales_delete' %}">Cancelar</a>
     </div>
 </div> 
</form>
{% endblock %}